<div class="span3" >

    <div class="well sidebar-nav">

        <ul class="nav nav-list">
          <% wines.attr('length');
             wines.each(function(wine){ %>
                <li <%= (el)-> el.data('wine', wine) %>>
                     <%== can.view.render('views/wineItem.ejs', {
                       wine: wine
                     }) %>
                </li>
          <% }) %>
        </ul>

    </div><!--/sidebar-->

</div><!--/span3-->

<div class="span9" >

<form id="wineForm">

<!--<div class="row-fluid">-->
    <div class="span4">
        <div class="mainArea">

            <label>Id:</label>
            <input id="wineId" name="id" type="text" disabled />

            <label>Name:</label>
            <input type="text" id="name" name="name" required>

            <label>Grapes:</label>
            <input type="text" id="grapes" name="grapes"/>

            <label>Country:</label>
            <input type="text" id="country" name="country"/>

            <label>Region:</label>
            <input type="text" id="region" name="region"/>

            <label>Year:</label>
            <input type="text" id="year" name="year"/>

        </div><!--/mainArea-->
    </div><!--/span-->

    <div class="span5">
        <img id="pic" height="300"/>
        <label>Notes:</label>
        <a href="javascript://" class="btn btn-primary new">New</a>
        <a href="javascript://" class="btn btn-primary save">Save</a>
        <a href="javascript://" class="btn btn-primary update">Update</a>
        <a href="javascript://" class="btn btn-primary remove">Delete</a>
        <br>
        <textarea id="description" name="description" ></textarea>
    </div><!--/span6-->

<!--</div>&lt;!&ndash;/row&ndash;&gt;-->

</form>

</div><!--/span8-->